* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px; /* overrides individual client settings */
    margin: 2rem;
}
body {
    background-image: url(../images/minimal\ smoke.jpg);
}
h2 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family:"Playfair Display", serif;
    font-size: 3rem;
    color: rgb(65, 62, 62)
}
img {
    width: 100%;
    height: 25%;
    border: 1px black solid;    
}
.polaroid {
    border: 1px black solid;
    padding: 20px 20px 110px 20px;
    width: 20%;
    transform: rotate(20deg);
    filter: grayscale();
    background-color: whitesmoke;
}
.polaroid:hover {
    filter: none;
    z-index: 1;
    transform: rotate(0deg);
}
#morningFog {
    position: absolute;
    right: 10%;
}
#poppies {
    position: absolute;
    top: 25%;
    right: 20%;
}
#sunlightPeaches {
    position: absolute;
    top: 40%;
    right: 30%;
}
#quietStreet {
    position: absolute;
    top: 55%;
    right: 40%;
} 